/*Global
--------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: black;
}

p {
    font-size: 25px;
}


/*Header
--------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 20px;
}

header h1 {
    width: 100%;
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h2 {
    width: 35%;
    height: 50px;
    color: rgb(177, 177, 177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

nav {
    width: 65%;
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
    color: white;
    text-decoration: underline;
    
    margin-left: 10px;
    padding-left: 20px;
}

nav a:link{
    color: white;
}

a:visited {
    color: gray;
}

/*Hero
--------------------*/

.hero {
    display: flex;
    align-items: flex-start;
    height: 450px;
    background-image: url("../images/header-background.jpg");
    background-size: 100%;
    background-position: cover;
}

.hero img {
    height: 450px;
    width: 400px;
    padding-top: 10px;
}

.hero h2 {
    font-size: 50px;
    color: rgb(177, 177, 177);
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 250px 100px 0px 0px;
}

/*Article
--------------------*/

.article {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    padding-top: 50px;
    margin-right: 50px;
}

.article h3 {
    width: 20%;
    text-align: right;
    color: rgb(74, 74, 74);
    border-right-style: solid;
    border-right-color: gray;
    padding: 0px 20px 0px 50px;
    font-size: 40px;
}

#about-me p {
    display: inline;
    width: 80%;
    padding-left: 40px;
}

.flex-projects {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 40px;
    max-width: 75%;
    max-height: 75%;
}

#horiseon-refactored {
    font-size: 30px;
    padding: 20px;
    border-style: solid;
    border-color: gray;
    margin: 5px;
}

#prework-study-guide, #placeholder-project1, #placeholder-project2, #placeholder-project3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: gray;
}

.flex-projects img {
    max-width: 100%;
    max-height: 100%;
}

#contact-me ul {
    width: 80%;
    padding:25px;
    padding-left: 40px;
} 

#contact-me ul li {
    display: inline;
    width: auto;
    padding: 10px 50px 10px 0px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(175, 175, 175)
}

#contact-me a:link {
    color: black;
}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    p {
        font-size: 90%;
    }

    header {
        width: 100%;
        display: flex;
    }

    header h1 {
        font-size: 40px;
    }

    header h2 {
        font-size: 30px;
    }

    nav {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .hero {
        display: flex;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero img {
        display: inline;
        width: 50%;
    }

    .article h3 {
        font-size: 30px;
        border-right-style: none;        
    }

    #prework-study-guide, #placeholder-project1, #placeholder-project2, #placeholder-project3 {
        margin-top: 30px;
    }

    #contact-me ul {
        text-align: center;
    }

}

/*Footer
--------------------*/

footer h5 {
    text-align: center;
    font-size: 30px;
}